body {
  font-family: Arial, sans-serif;
  background-color: #e7e7e7;
  padding: 10px;
  margin: 0;
}

/* Cabeçalho */
header {
  background-color: #60b118;
  color: white;
  padding: 15px;
  text-align: center;
}

/* Links do menu */
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* Hover nos links do menu */
nav a:hover {
  text-decoration: underline;
}

/* Conteúdo principal */
main {
  padding: 20px;
  text-align: center;
}

/* Formulário */
form {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  text-align: left;
}

/* Inputs */
input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
